#root,body,html{width:100%;height:100%;margin:0}.second-tick{stroke:#7fff00;stroke-linecap:round;stroke-width:2.5px}#seconds{stroke:#7fff00;stroke-linejoin:round;stroke-width:2.5px}#minutes,#seconds{fill-rule:evenodd;fill:#aaa}#minutes{stroke:#7fff00;stroke-linejoin:round;stroke-width:5px}#hours{fill-rule:evenodd;fill:#aaa;stroke:#7fff00;stroke-linejoin:round;stroke-width:10px}
/*# sourceMappingURL=main.d20661b3.chunk.css.map */